/vendor/
/node_modules/
npm-debug.log
yarn-error.log

/public/hot
/public/storage
/public/css/
/public/js/
public/mix-manifest.json

/storage/logs/*.log
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/.styleci.yml
/storage/*.index
/storage/sheet
